# Busca informações demográficas dos municípios do Estado de São Paulo

## Programa Mentoria DSA

* Autor: Rogelio Gonçaves Neto
* Apoio: Luciana Silva Albuquerque de Melo e Leticia Fiorina Echeverria Grobério
* Projeto: Análise da criminalidade do estado de São Paulo relacionada a Educação e Renda
* Objetivo: Criar um dataset com os dados demográficos para realização do projeto de mentoria da DSA.
* Necessidades: chromedrive.exe conforme versão do navegador instalado
* Bibliotecas: time, selenium, shutil, pandas

## Observações

* Todos os Dataset de apoio gerados ficam armazenado em **C:\Mentoria\Dataset\Temporario**
* Os diretorios para download devem ser ajustados: **C://Users//DELL//Downloads//**
* Este dataset publico contem o ano de 2021

## Resultado Final
* Foi gerado **populacao_2021_sexoidade_esp.csv** arquivo no diretorio **C:\Mentoria\Dataset\Temporario** 
    **Observo que:** Estes arquivos contem dados que podem ser utilizados para maiores detalhes para exploração, porém devido ao tempo foi realizado a geração de um arquivo com **resumo** dos dados para finalização do trabalho proposto.  
    
* Foi gerado **um** arquivo no diretorio **C:\Mentoria\Dataset**
    Arquivo final para ser utilizado no trabalho final para as entregas  
    POP_MUNICIPIO.xlsx

In [1]:
# Baixar o chromedriver.exe criar uma pasta e mover o arquivo para dentro dela
# Baixar o arquivo chromedrive.exe conforme a versão do seu navegaror
# !python -m selenium
# ============================================================================
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import shutil
import pandas as pd

drive = webdriver.Chrome(executable_path=r'C:/Mentoria/Dataset/chromedriver.exe')
time.sleep(3)
drive.get('https://repositorio.seade.gov.br/dataset/populacao-por-municipio-sexo-e-idade')
time.sleep(4)    
drive.find_element_by_xpath('//*[@id="dataset-resources"]/ul/li[1]/a').click()
time.sleep(4)
drive.find_element_by_xpath('//*[@id="content"]/div[3]/section/div/p/a').click()
time.sleep(4)
drive.close()
origem = r'C://Users//DELL//Downloads//' + 'populacao_2021_sexoidade_esp.csv'
destino = r'C://Mentoria//Dataset//Temporario//' + 'populacao_2021_sexoidade_esp.csv'
shutil.move(origem,destino)

'C://Mentoria//Dataset//Temporario//populacao_2021_sexoidade_esp.csv'

In [2]:
df_geral = pd.read_csv("C:/Mentoria/Dataset/Temporario/populacao_2021_sexoidade_esp.csv", delimiter=";", encoding='ISO-8859-1')
df_geral.municipio = df_geral.municipio.str.upper()
df_geral.municipio = df_geral.municipio.str.replace('Á','A').str.replace('Í','I').str.replace('Ó','O')
df_geral.municipio = df_geral.municipio.str.replace('Ã','A').str.replace('É','E').str.replace('Â','A')
df_geral.municipio = df_geral.municipio.str.replace('Ê','E').str.replace('Ô','O').str.replace('Ç','C')
df_geral.municipio = df_geral.municipio.str.replace('Ú','U').str.replace('Õ','O')
df_geral.populacao = df_geral.populacao.str.replace('-   ','0').str.replace('.','')
df_geral.to_excel(r"C:\Mentoria\Dataset\POP_MUNICIPIO.xlsx")
df_geral

<ipython-input-2-b26d8ff80e90>:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_geral.populacao = df_geral.populacao.str.replace('-   ','0').str.replace('.','')

       cod_ibge         municipio   ano      sexo faixa_etaria populacao
0       3500105        ADAMANTINA  2021  Mulheres      00 a 04       825
1       3500204            ADOLFO  2021  Mulheres      00 a 04        80
2       3500303             AGUAI  2021  Mulheres      00 a 04      1151
3       3500402    AGUAS DA PRATA  2021  Mulheres      00 a 04       182
4       3500501  AGUAS DE LINDOIA  2021  Mulheres      00 a 04       587
...         ...               ...   ...       ...          ...       ...
24505   3557006        VOTORANTIM  2021    Homens       90 e +        78
24506   3557105       VOTUPORANGA  2021    Homens       90 e +        99
24507   3557154          ZACARIAS  2021    Homens       90 e +         3
24508   3557204         CHAVANTES  2021    Homens       90 e +        12
24509   3557303      ESTIVA GERBI  2021    Homens       90 e +         8

[24510 rows x 6 columns]

In [3]:
PopMunicipio = pd.read_excel(r"C:\Mentoria\Dataset\POP_MUNICIPIO.xlsx",index_col=0)
PopMunicipio = PopMunicipio.drop(columns=['cod_ibge','faixa_etaria'])
PopMunMulher = PopMunicipio.query('sexo=="Mulheres"')
PopMunMulher = PopMunMulher.groupby(by=['municipio','sexo','ano']).sum()
PopMunMulher = PopMunMulher.rename(columns={'populacao':'mulher'})
PopMunMulher

                                    mulher
municipio            sexo     ano
ADAMANTINA           Mulheres 2021   17559
ADOLFO               Mulheres 2021    1737
AGUAI                Mulheres 2021   17864
AGUAS DA PRATA       Mulheres 2021    3973
AGUAS DE LINDOIA     Mulheres 2021    9466
...                                    ...
VISTA ALEGRE DO ALTO Mulheres 2021    3969
VITORIA BRASIL       Mulheres 2021     871
VOTORANTIM           Mulheres 2021   60962
VOTUPORANGA          Mulheres 2021   47322
ZACARIAS             Mulheres 2021    1297

[645 rows x 1 columns]

In [4]:
PopMunicipio = pd.read_excel(r"C:\Mentoria\Dataset\POP_MUNICIPIO.xlsx",index_col=0)
PopMunicipio = PopMunicipio.drop(columns=['cod_ibge','faixa_etaria'])
PopMunHomem = PopMunicipio.query('sexo=="Homens"')
PopMunHomem = PopMunHomem.groupby(by=['municipio','sexo','ano']).sum()
PopMunHomem = PopMunHomem.rename(columns={'populacao':'homem'})
PopMunHomem

                                  homem
municipio            sexo   ano
ADAMANTINA           Homens 2021  16310
ADOLFO               Homens 2021   1699
AGUAI                Homens 2021  18021
AGUAS DA PRATA       Homens 2021   3834
AGUAS DE LINDOIA     Homens 2021   8972
...                                 ...
VISTA ALEGRE DO ALTO Homens 2021   4122
VITORIA BRASIL       Homens 2021    890
VOTORANTIM           Homens 2021  59700
VOTUPORANGA          Homens 2021  44871
ZACARIAS             Homens 2021   1277

[645 rows x 1 columns]

In [5]:
dataRes = pd.merge(PopMunMulher, PopMunHomem, how = 'left', on = ['municipio','ano'])
dataRes
dataRes.to_excel(r"C:\Mentoria\Dataset\POP_MUNICIPIO.xlsx")