# Busca informações dados dos estudantes dos municípios do Estado de São Paulo

## Programa Mentoria DSA

* Autor: Rogelio Gonçaves Neto
* Apoio: Luciana Silva Albuquerque de Melo e Leticia Fiorina Echeverria Grobério
* Projeto: Análise da criminalidade do estado de São Paulo relacionada a Educação e Renda
* Objetivo: Criar um dataset com os dados dos estudantes para realização do projeto de mentoria da DSA.
* Necessidades: chromedrive.exe conforme versão do navegador instalado
* Bibliotecas: time, selenium, shutil, pandas

## Observações

* Todos os Dataset de apoio gerados ficam armazenado em **C:\Mentoria\Dataset\Temporario**
* Os diretorios para download devem ser ajustados: **C://Users//DELL//Downloads//**
* Este dataset publico só contem o ano de 2017

## Resultado Final
* Foram gerados **sete** arquivos no diretorio **C:\Mentoria\Dataset\Temporario**  
    **Observo que:** Este arquivo contem dados que podem ser utilizados para maiores detalhes para exploração, porém devido ao tempo foi realizado a geração de um arquivo com **resumo** dos dados para finalização do trabalho proposto.  
    PRIVADA.xlsx  
    MUNICIPAL.xlsx  
    FEDERAL.xlsx  
    ESTADUAL_SEE.xlsx  
    ESTADUAL_OUTRAS.xlsx  
    ESCOLA_GERAL.xlsx  
    ESCOLA_DEP_ADM.xlsx  
    
* Foi gerado **um** arquivo no diretorio **C:\Mentoria\Dataset**
    Arquivo final para ser utilizado no trabalho final para as entregas  
    ESCOLA_MUNICIPIO.xlsx

In [1]:
# Baixar o chromedriver.exe criar uma pasta e mover o arquivo para dentro dela
# Baixar o arquivo chromedrive.exe conforme a versão do seu navegaror
# !python -m selenium
# ============================================================================
import time
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import shutil
import pandas as pd

url = 'http://www.educacao.sp.gov.br/central-de-atendimento/downloads.asp'
drive = webdriver.Chrome(executable_path=r'C:/Mentoria/Dataset/chromedriver.exe')
time.sleep(3)
drive.get(url)
time.sleep(3)
texto = '//*[@id="content"]/article/section/p[1]/a[sequencia]'
# Baixar os arquivos das escolas do estado de São Paulo
# ESTADUAL_SEE.xlsx
# ESTADUAL_OUTRAS.xlsx
# FEDERAL.xlsx
# MUNICIPAL.xlsx
# PRIVADA.xlsx
# ======================================================
arquivo = ['ESTADUAL_SEE.xlsx','ESTADUAL_OUTRAS.xlsx','FEDERAL.xlsx','MUNICIPAL.xlsx','PRIVADA.xlsx']

for i in range(1,len(arquivo)+1):
    texto1 = texto.replace('sequencia', str(i))
    if i >= 2:
        texto1 = texto1 + '/b'
    drive.find_element_by_xpath(texto1).click()
    time.sleep(4)
drive.close()    
# Mover os arquivos para o diritorio de trabalho  
for i in arquivo:
    origem = r'C://Users//DELL//Downloads//' + i
    destino = r'C://Mentoria//Dataset//Temporario//' + i 
    shutil.move(origem,destino)

In [2]:
df_estadual_see = pd.read_excel(r'C:\Mentoria\Dataset\Temporario\ESTADUAL_SEE.xlsx', skiprows=5) #,index_col=0)
df_estadual_outras = pd.read_excel(r'C:\Mentoria\Dataset\Temporario\ESTADUAL_OUTRAS.xlsx', skiprows=5) #,index_col=0)
df_federal = pd.read_excel(r'C:\Mentoria\Dataset\Temporario\FEDERAL.xlsx', skiprows=5) #,index_col=0)
df_municipal = pd.read_excel(r'C:\Mentoria\Dataset\Temporario\MUNICIPAL.xlsx', skiprows=5) #,index_col=0)
df_privada = pd.read_excel(r'C:\Mentoria\Dataset\Temporario\PRIVADA.xlsx', skiprows=5) #,index_col=0)

df_estadual_see = df_estadual_see[['Nome dependencia Administrativa','Codigo Municipio','Municipio','CEP',
                                   'Creche','Pre','1º Ano Ef','2º Ano Ef','3º Ano Ef','4º Ano Ef',
                                   '5º Ano Ef','6º Ano Ef','7º Ano Ef','8º Ano Ef','9º Ano Ef','1ª Serie Em',
                                   '2ª Serie Em','3ª Serie Em']]

df_estadual_see

,Nome dependencia Administrativa,Codigo Municipio,Municipio,CEP,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,ESTADUAL - SE,292,DRACENA,17900000,0,0,0,0,0,0,0,105,140,140,101,82,37,50
1,ESTADUAL - SE,292,DRACENA,17900000,0,0,0,0,0,0,0,69,49,62,75,52,62,47
2,ESTADUAL - SE,494,OSVALDO CRUZ,17700000,0,0,0,0,0,0,0,58,43,77,57,65,46,34
3,ESTADUAL - SE,292,DRACENA,17900000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,ESTADUAL - SE,150,ADAMANTINA,17800000,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5635,ESTADUAL - SE,429,MACAUBAL,15270000,0,0,0,68,94,77,76,0,0,0,0,0,0,0
5636,ESTADUAL - SE,718,VOTUPORANGA,15505162,0,0,0,0,0,0,0,105,104,105,104,0,0,0
5637,ESTADUAL - SE,718,VOTUPORANGA,15505070,0,0,0,0,0,0,0,51,69,70,77,58,79,63
5638,ESTADUAL - SE,316,GASTAO VIDIGAL,15330000,0,0,0,53,59,50,39,48,37,43,53,54,45,42
5639,ESTADUAL - SE,718,VOTUPORANGA,15502236,0,0,0,0,0,0,0,81,88,101,66,106,95,141

In [3]:
df_estadual_outras = df_estadual_outras[['Nome dependencia Administrativa','Codigo Municipio','Municipio','CEP',
                                         'Creche','Pre','1º Ano Ef','2º Ano Ef','3º Ano Ef','4º Ano Ef',
                                         '5º Ano Ef','6º Ano Ef','7º Ano Ef','8º Ano Ef','9º Ano Ef','1ª Serie Em',
                                         '2ª Serie Em','3ª Serie Em']]
df_estadual_outras

,Nome dependencia Administrativa,Codigo Municipio,Municipio,CEP,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,ESTADUAL - OUTROS,494,OSVALDO CRUZ,17700000,0,0,0,0,0,0,0,0,0,0,0,159,159,160
1,ESTADUAL - OUTROS,292,DRACENA,17900000,0,0,0,0,0,0,0,0,0,0,0,79,62,37
2,ESTADUAL - OUTROS,150,ADAMANTINA,17800000,0,0,0,0,0,0,0,0,0,0,0,158,154,150
3,ESTADUAL - OUTROS,150,ADAMANTINA,17800000,0,0,0,0,0,0,0,0,0,0,0,32,19,23
4,ESTADUAL - OUTROS,606,SANTA BARBARA D'OESTE,13454398,0,0,0,0,0,0,0,0,0,0,0,120,118,116
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251,ESTADUAL - OUTROS,570,RANCHARIA,19600000,0,0,0,0,0,0,0,0,0,0,0,120,106,134
252,ESTADUAL - OUTROS,565,QUATA,19780000,0,0,0,0,0,0,0,0,0,0,0,70,68,68
253,ESTADUAL - OUTROS,717,VOTORANTIM,18115350,0,0,0,0,0,0,0,0,0,0,0,78,114,75
254,ESTADUAL - OUTROS,526,PIEDADE,18170000,0,0,0,0,0,0,0,0,0,0,0,111,72,100
255,ESTADUAL - OUTROS,718,VOTUPORANGA,15505971,0,0,0,0,0,0,0,0,0,0,0,152,132,123

In [4]:
df_federal = df_federal[['Nome dependencia Administrativa','Codigo Municipio','Municipio','CEP',
                         'Creche','Pre','1º Ano Ef','2º Ano Ef','3º Ano Ef','4º Ano Ef',
                         '5º Ano Ef','6º Ano Ef','7º Ano Ef','8º Ano Ef','9º Ano Ef','1ª Serie Em',
                         '2ª Serie Em','3ª Serie Em']]
df_federal

,Nome dependencia Administrativa,Codigo Municipio,Municipio,CEP,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,FEDERAL,441,MATAO,15991502,0,0,0,0,0,0,0,0,0,0,0,125,68,0
1,FEDERAL,181,ARARAQUARA,14801600,0,0,0,0,0,0,0,0,0,0,0,90,63,0
2,FEDERAL,194,AVARE,18707150,0,0,0,0,0,0,0,0,0,0,0,130,102,66
3,FEDERAL,204,BARRETOS,14783502,0,0,0,0,0,0,0,0,0,0,0,172,109,65
4,FEDERAL,214,BIRIGUI,16201407,0,0,0,0,0,0,0,0,0,0,0,80,54,0
5,FEDERAL,225,BRAGANCA PAULISTA,12929600,0,0,0,0,0,0,0,0,0,0,0,92,79,50
6,FEDERAL,244,CAMPINAS,13069901,0,0,0,0,0,0,0,0,0,0,0,45,27,0
7,FEDERAL,253,CAPIVARI,13360000,0,0,0,0,0,0,0,0,0,0,0,85,69,62
8,FEDERAL,254,CARAGUATATUBA,11665310,0,0,0,0,0,0,0,0,0,0,0,41,0,0
9,FEDERAL,260,CATANDUVA,15805305,0,0,0,0,0,0,0,0,0,0,0,127,90,39
10,FEDERAL,100,SAO PAULO,1109000,0,0,0,0,0,0,0,0,0,0,0,202,315,159
11,FEDERAL,100,SAO PAULO,4039050,156,91,45,48,48,48,43,0,0,0,0,0,0,0
12,FEDERAL,332,GUARATINGUETA,12510920,0,0,0,0,0,0,0,0,0,0,0,0,0,0
13,FEDERAL,336,GUARULHOS,7115000,0,0,0,0,0,0,0,0,0,0,0,80,0,0
14,FEDERAL,371,ITAPETININGA,18202000,0,0,0,0,0,0,0,0,0,0,0,75,0,0
15,FEDERAL,600,SALTO,13320000,0,0,0,0,0,0,0,0,0,0,0,81,79,72
16,FEDERAL,219,BOITUVA,18550000,0,0,0,0,0,0,0,0,0,0,0,81,76,35
17,FEDERAL,392,JACAREI,12322030,0,0,0,0,0,0,0,0,0,0,0,82,32,0
18,FEDERAL,407,JUNDIAI,13201003,0,0,0,0,0,0,0,0,0,0,0,38,0,0
19,FEDERAL,246,CAMPOS DO JORDAO,12460000,0,0,0,0,0,0,0,0,0,0,0,84,26,0
20,FEDERAL,535,PIRACICABA,13414155,0,0,0,0,0,0,0,0,0,0,0,0,0,0
21,FEDERAL,574,REGISTRO,11900000,0,0,0,0,0,0,0,0,0,0,0,124,30,0
22,FEDERAL,561,PRESIDENTE EPITACIO,19470000,0,0,0,0,0,0,0,0,0,0,0,89,63,49
23,FEDERAL,283,CUBATAO,11500005,0,0,0,0,0,0,0,0,0,0,0,142,132,105
24,FEDERAL,637,SAO CARLOS,13565905,0,0,0,0,0,0,0,0,0,0,0,42,0,0
25,FEDERAL,637,SAO CARLOS,13565800,62,55,0,0,0,0,0,0,0,0,0,0,0,0
26,FEDERAL,639,SAO JOAO DA BOA VISTA,13872551,0,0,0,0,0,0,0,0,0,0,0,107,101,75
27,FEDERAL,645,SAO JOSE DOS CAMPOS,12223900,0,0,0,0,0,0,0,0,0,0,0,79,0,0
28,FEDERAL,645,SAO JOSE DOS CAMPOS,12228901,114,100,0,0,0,0,0,0,0,0,0,0,0,0
29,FEDERAL,653,SAO ROQUE,18136540,0,0,0,0,0,0,0,0,0,0,0,125,79,61
30,FEDERAL,664,SERTAOZINHO,14169263,0,0,0,0,0,0,0,0,0,0,0,82,79,72
31,FEDERAL,669,SOROCABA,18095410,0,0,0,0,0,0,0,0,0,0,0,0,0,0
32,FEDERAL,748,HORTOLANDIA,13183250,0,0,0,0,0,0,0,0,0,0,0,124,86,0
33,FEDERAL,672,SUZANO,8673010,0,0,0,0,0,0,0,0,0,0,0,83,76,0
34,FEDERAL,718,VOTUPORANGA,15503110,0,0,0,0,0,0,0,0,0,0,0,132,96,81

In [5]:
df_municipal = df_municipal[['Nome dependencia Administrativa','Codigo Municipio','Municipio','CEP',
                             'Creche','Pre','1º Ano Ef','2º Ano Ef','3º Ano Ef','4º Ano Ef',
                             '5º Ano Ef','6º Ano Ef','7º Ano Ef','8º Ano Ef','9º Ano Ef','1ª Serie Em',
                             '2ª Serie Em','3ª Serie Em']]
df_municipal

,Nome dependencia Administrativa,Codigo Municipio,Municipio,CEP,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,MUNICIPAL,502,PANORAMA,17980000,0,0,28,52,49,48,45,0,0,0,0,0,0,0
1,MUNICIPAL,422,LUCELIA,17780000,32,143,0,0,0,0,0,0,0,0,0,0,0,0
2,MUNICIPAL,494,OSVALDO CRUZ,17700000,0,0,53,52,59,48,59,0,0,0,0,0,0,0
3,MUNICIPAL,292,DRACENA,17905000,0,0,11,7,11,10,5,5,3,12,6,0,0,0
4,MUNICIPAL,698,TUPI PAULISTA,17930000,0,73,37,36,36,41,38,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12816,MUNICIPAL,718,VOTUPORANGA,15502120,101,139,0,0,0,0,0,0,0,0,0,0,0,0
12817,MUNICIPAL,718,VOTUPORANGA,15503252,0,0,67,84,77,58,60,0,0,0,0,0,0,0
12818,MUNICIPAL,718,VOTUPORANGA,15500112,182,0,0,0,0,0,0,0,0,0,0,0,0,0
12819,MUNICIPAL,514,PAULO DE FARIA,15490000,0,0,51,63,55,43,42,0,0,0,0,0,0,0
12820,MUNICIPAL,709,VALENTIM GENTIL,15520000,0,0,152,175,152,144,179,0,0,0,0,0,0,0

In [6]:
df_privada = df_privada[['Nome dependencia Administrativa','Codigo Municipio','Municipio','CEP',
                         'Creche','Pre','1º Ano Ef','2º Ano Ef','3º Ano Ef','4º Ano Ef',
                         '5º Ano Ef','6º Ano Ef','7º Ano Ef','8º Ano Ef','9º Ano Ef','1ª Serie Em',
                         '2ª Serie Em','3ª Serie Em']]
df_privada

,Nome dependencia Administrativa,Codigo Municipio,Municipio,CEP,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,PRIVADA,408,JUNQUEIROPOLIS,17890000,12,31.0,22.0,19.0,22.0,24,21,21,31,22,42,33,19,19
1,PRIVADA,150,ADAMANTINA,17800000,58,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
2,PRIVADA,150,ADAMANTINA,17800000,0,61.0,53.0,52.0,44.0,53,40,31,38,44,43,36,43,38
3,PRIVADA,494,OSVALDO CRUZ,17700000,56,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
4,PRIVADA,422,LUCELIA,17780000,92,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10679,PRIVADA,718,VOTUPORANGA,15502150,22,35.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10680,PRIVADA,718,VOTUPORANGA,15500086,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10681,PRIVADA,718,VOTUPORANGA,15501065,0,0.0,32.0,32.0,32.0,32,32,33,32,32,32,32,30,27
10682,PRIVADA,718,VOTUPORANGA,15500010,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10683,PRIVADA,718,VOTUPORANGA,15503005,0,24.0,39.0,46.0,29.0,33,32,31,56,21,35,45,35,36

In [7]:
df_geral = pd.concat([df_estadual_see, df_estadual_outras, df_federal, df_municipal,df_privada])
df_geral

,Nome dependencia Administrativa,Codigo Municipio,Municipio,CEP,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,105,140,140,101,82,37,50
1,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,69,49,62,75,52,62,47
2,ESTADUAL - SE,494,OSVALDO CRUZ,17700000,0,0.0,0.0,0.0,0.0,0,0,58,43,77,57,65,46,34
3,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
4,ESTADUAL - SE,150,ADAMANTINA,17800000,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10679,PRIVADA,718,VOTUPORANGA,15502150,22,35.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10680,PRIVADA,718,VOTUPORANGA,15500086,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10681,PRIVADA,718,VOTUPORANGA,15501065,0,0.0,32.0,32.0,32.0,32,32,33,32,32,32,32,30,27
10682,PRIVADA,718,VOTUPORANGA,15500010,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10683,PRIVADA,718,VOTUPORANGA,15503005,0,24.0,39.0,46.0,29.0,33,32,31,56,21,35,45,35,36

In [8]:
df_geral = df_geral.drop(columns=['CEP'])
df_geral

,Nome dependencia Administrativa,Codigo Municipio,Municipio,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,ESTADUAL - SE,292,DRACENA,0,0.0,0.0,0.0,0.0,0,0,105,140,140,101,82,37,50
1,ESTADUAL - SE,292,DRACENA,0,0.0,0.0,0.0,0.0,0,0,69,49,62,75,52,62,47
2,ESTADUAL - SE,494,OSVALDO CRUZ,0,0.0,0.0,0.0,0.0,0,0,58,43,77,57,65,46,34
3,ESTADUAL - SE,292,DRACENA,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
4,ESTADUAL - SE,150,ADAMANTINA,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10679,PRIVADA,718,VOTUPORANGA,22,35.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10680,PRIVADA,718,VOTUPORANGA,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10681,PRIVADA,718,VOTUPORANGA,0,0.0,32.0,32.0,32.0,32,32,33,32,32,32,32,30,27
10682,PRIVADA,718,VOTUPORANGA,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10683,PRIVADA,718,VOTUPORANGA,0,24.0,39.0,46.0,29.0,33,32,31,56,21,35,45,35,36

In [9]:
df_geral_munic = df_geral
df_geral_munic = df_geral_munic.drop(columns=['Nome dependencia Administrativa'])
df_geral_munic = df_geral.groupby(by=['Codigo Municipio','Municipio']).sum()
ano = 2017
df_geral_munic.insert(0,"Ano",ano,True)
df_geral_munic

,,Ano,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
Codigo Municipio,Municipio,,,,,,,,,,,,,,
100,SAO PAULO,2017,295587.0,153722.0,152917.0,160391.0,151461,153861,155270,157654,144720,99933,187027,161308,147379
150,ADAMANTINA,2017,655.0,389.0,410.0,389.0,401,376,381,394,428,362,516,430,461
151,ADOLFO,2017,90.0,54.0,53.0,48.0,50,52,58,51,52,37,43,51,53
152,AGUAI,2017,823.0,468.0,517.0,499.0,460,435,494,417,396,457,442,330,301
153,AGUAS DE LINDOIA,2017,491.0,227.0,213.0,228.0,213,249,202,235,229,193,217,181,181
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
790,NOVA CASTILHO,2017,27.0,24.0,10.0,19.0,20,18,16,11,18,18,8,11,9
791,OUROESTE,2017,245.0,110.0,127.0,167.0,107,102,122,122,90,136,103,108,102
792,PAULISTANIA,2017,45.0,19.0,22.0,25.0,29,34,28,30,26,24,27,16,21
793,RIBEIRAO DOS INDIOS,2017,41.0,24.0,19.0,27.0,28,25,27,18,22,29,23,21,31
794,TRABIJU,2017,37.0,25.0,23.0,32.0,25,34,22,18,22,23,33,40,23

In [10]:
df_geral_dep_adm = df_geral
df_geral_dep_adm = df_geral_dep_adm.drop(columns=['Codigo Municipio','Municipio'])
df_geral_dep_adm = df_geral_dep_adm.groupby(by=['Nome dependencia Administrativa']).sum()
ano = 2017
df_geral_dep_adm.insert(0,"Ano",ano,True)
df_geral_dep_adm

,Ano,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
Nome dependencia Administrativa,,,,,,,,,,,,,,
ESTADUAL - OUTROS,2017,341.0,61.0,58.0,59.0,55,61,58,59,60,60,27160,26099,24449
ESTADUAL - SE,2017,86.0,109146.0,120696.0,130819.0,125220,131792,345226,333097,319138,311556,529097,468159,429705
FEDERAL,2017,246.0,45.0,48.0,48.0,48,43,0,0,0,0,2839,1931,991
MUNICIPAL,2017,882088.0,355924.0,346835.0,368537.0,347949,349557,143837,141567,129649,90681,7757,7332,6499
PRIVADA,2017,228505.0,124844.0,124363.0,122027.0,118398,113454,111096,112479,109802,104177,92876,87016,86522

In [11]:
df_geral = pd.concat([df_estadual_see, df_estadual_outras, df_federal, df_municipal,df_privada])
ano = 2017
df_geral.insert(0,"Ano",ano,True)
df_geral

,Ano,Nome dependencia Administrativa,Codigo Municipio,Municipio,CEP,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,2017,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,105,140,140,101,82,37,50
1,2017,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,69,49,62,75,52,62,47
2,2017,ESTADUAL - SE,494,OSVALDO CRUZ,17700000,0,0.0,0.0,0.0,0.0,0,0,58,43,77,57,65,46,34
3,2017,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
4,2017,ESTADUAL - SE,150,ADAMANTINA,17800000,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10679,2017,PRIVADA,718,VOTUPORANGA,15502150,22,35.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10680,2017,PRIVADA,718,VOTUPORANGA,15500086,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10681,2017,PRIVADA,718,VOTUPORANGA,15501065,0,0.0,32.0,32.0,32.0,32,32,33,32,32,32,32,30,27
10682,2017,PRIVADA,718,VOTUPORANGA,15500010,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10683,2017,PRIVADA,718,VOTUPORANGA,15503005,0,24.0,39.0,46.0,29.0,33,32,31,56,21,35,45,35,36

In [14]:
df_geral.to_excel(r"C:\Mentoria\Dataset\Temporario\ESCOLA_GERAL.xlsx")
df_geral_dep_adm.to_excel(r"C:\Mentoria\Dataset\Temporario\ESCOLA_DEP_ADM.xlsx")
df_geral_munic.to_excel(r"C:\Mentoria\Dataset\ESCOLA_MUNICIPIO.xlsx")
df_geral

,Ano,Nome dependencia Administrativa,Codigo Municipio,Municipio,CEP,Creche,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,2017,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,105,140,140,101,82,37,50
1,2017,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,69,49,62,75,52,62,47
2,2017,ESTADUAL - SE,494,OSVALDO CRUZ,17700000,0,0.0,0.0,0.0,0.0,0,0,58,43,77,57,65,46,34
3,2017,ESTADUAL - SE,292,DRACENA,17900000,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
4,2017,ESTADUAL - SE,150,ADAMANTINA,17800000,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10679,2017,PRIVADA,718,VOTUPORANGA,15502150,22,35.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10680,2017,PRIVADA,718,VOTUPORANGA,15500086,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10681,2017,PRIVADA,718,VOTUPORANGA,15501065,0,0.0,32.0,32.0,32.0,32,32,33,32,32,32,32,30,27
10682,2017,PRIVADA,718,VOTUPORANGA,15500010,0,0.0,0.0,0.0,0.0,0,0,0,0,0,0,0,0,0
10683,2017,PRIVADA,718,VOTUPORANGA,15503005,0,24.0,39.0,46.0,29.0,33,32,31,56,21,35,45,35,36

In [15]:
dataRes = pd.read_excel("C:/Mentoria/Dataset/Temporario/ESCOLA_DEP_ADM.xlsx")
dataRes

,Nome dependencia Administrativa,Ano,Pre,1º Ano Ef,2º Ano Ef,3º Ano Ef,4º Ano Ef,5º Ano Ef,6º Ano Ef,7º Ano Ef,8º Ano Ef,9º Ano Ef,1ª Serie Em,2ª Serie Em,3ª Serie Em
0,ESTADUAL - OUTROS,2017,341,61,58,59,55,61,58,59,60,60,27160,26099,24449
1,ESTADUAL - SE,2017,86,109146,120696,130819,125220,131792,345226,333097,319138,311556,529097,468159,429705
2,FEDERAL,2017,246,45,48,48,48,43,0,0,0,0,2839,1931,991
3,MUNICIPAL,2017,882088,355924,346835,368537,347949,349557,143837,141567,129649,90681,7757,7332,6499
4,PRIVADA,2017,228505,124844,124363,122027,118398,113454,111096,112479,109802,104177,92876,87016,86522